body{
    font-family: 'Permanent Marker', cursive;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.hot{
    color:red;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half{
    width: 50%;
    padding-left:3% ;
}
.half img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    color: white;
    font-weight: 400;
    padding: 10px 30px;
    border-radius:5px ;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.developer{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    box-shadow: 25px 25px 60px gray;
    border-radius: 10px;
}
.Experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#shadow{
    border-left: 7px solid;
    border-image: linear-gradient(red, orange) ;
    border-image-slice: 1;
}
#shadow2{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan) ;
    border-image-slice: 1;
}
footer{
    text-align: center;
}
